.breadcrumb li {
  display: inline;
  color: red;
  font-weight: bold;
}
.breadcrumb li.location+li.location::before {
  content: "/ ";
} 
.breadcrumb li a:hover {
  color: blue;
}
.breadcrumb li.attribute a {
  color: gray;
}
.breadcrumb li.attribute::after {
  content: " x ";
  color: red;
  font-size: 10px;
  vertical-align: super;
}

.breadcrumb li.attribute::before {
  content: " - ";
  color: red;
  font-size: 10px;
  vertical-align: middle;
}

